Hello {{{user.firstName}}},

A new account request was made by {{{accRequest.firstName}}} {{{accRequest.lastName}}}. Login to your {{{app.name}}} account to approve or reject the request.

Thanks,
{{{app.name}}}
