Hello {{user.firstName}},<br /><br />

The DOCX document for the <b>{{report.name}}</b> report is ready to download.<br /><br />

Please click the following button to login:<br /><br />

<a
  href="{{app.url}}"
  style="background-color: #4CAF50; border: none; color: white; padding: 12px 18px; text-align: center; text-transform: uppercase; text-decoration: none; display: inline-block; cursor: pointer; font-size: 16px; font-family: Arial; font-weight: bold;"
>Login</a><br /><br />

Thanks,<br />
{{app.name}}
