Hello {{user.firstName}},<br /><br />

<b>@{{target.profile.handle}}</b>'s tweets are now available. Login to your {{app.name}} account to perform a new search or create an alert.<br /><br />

Thanks,<br />
{{app.name}}
