Hello {{{user.email}}},

You've been invited by {{{invitee.firstName}}} {{{invitee.lastName}}} ({{{invitee.email}}}) to join {{{app.name}}}.

Please visit the following link to join:

{{{invitationURL}}}

Thanks,
{{{app.name}}}
